{% extends 'base.html' %}
{% load static %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'questions/style.css' %}" />
    {% for question in questions %}
        <h2 class='center'>{{question}}</h2>
        {% for choice in choices %}
            {% if choice.question == question %}
                <ul class='center'>{{choice}} - {{choice.votes}}</ul>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}