{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'questions/style.css' %}" />
<head>
    <title>Survey</title>
</head>
<body>
    {% if user.is_authenticated %}
        <header class='right'>
            <a href = "/questions/adminPage" class='space'>Results</a>
            <a href = "/questions/" class='space'>Survey</a>
            <a href = "/admin" class='space'>Admin</a>
            <a href="/logout" class='space'>Log Out</a>
        </header>
    {% else %}
        <header class='center'>
            <a href = '/admin' class='space'>Login</a>
        </header>
    {% endif %}
    <br />
    {% block content %}{% endblock %}