{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'questions/style.css' %}" />
<head>
    <title>Survey</title>
</head>
<body>
    {% if user.is_authenticated %}
        <header class='right'>
            <a href = "/questions/adminPage" class='space'>Admin</a>
            <a href = "/questions/" class='space'>Home</a>
            <a href="/logout" class='space'>Log Out</a>
        </header>
    {% else %}
        <header class='right'>
            <a href = "/questions/login" class='space'>Login</a>
        </header>
    {% endif %}
    <hr>
    {% block content %}{% endblock %}
</body>