{% extends 'base.html' %}
{% load static %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'questions/style.css' %}" />
    <h2 class='center'>{{ question.question_text }}</h2>

    {% if error_message %}<p class='center'><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="/questions/{{ question.id }}/vote/" method="post" class='center'>
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        {% endfor %}
        <br />
        <input type="submit" value="Vote" />
    </form>
{% endblock %}
